.bgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.30);
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.openModal {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border:  2px solid rgb(31, 31, 31);
    width: 95%;
}

.openModal label {
    font-weight: bold;
    font-size: 0.9rem;
}

.openModal input {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 0;
    background-color: rgb(221, 220, 220);
}

.openModal button {
    padding: 0.5rem 1rem;
    border: 0;
    border:  1px solid rgb(31, 31, 31);
    font-weight: 700;
}

.btnsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.saveBtn {
    background-color: transparent;
}

.closeBtn {
    order: -1;
    background-color: #FF5560;
}

.closeModal {
    display: none;
}



@media screen and (min-width: 768px) {
    .openModal {
        width: 50%;
    }
}